<html>
<head>
  <title></title>
</head>
<body>

<div id="example" class="k-content">
<div id="grid"></div>

<script type="text/x-kendo-template" id="template">
  <div class="tabstrip">
    <ul>
      <li class="k-state-active">
        <%= I18n.t("reviewers.index2.erfahrungsberichte") %>
      </li>
      <li>
        <%= I18n.t("reviewers.index2.erfahrungsbericht") %>
      </li>
    </ul>
    <div>
      <div class="reviews"></div>
    </div>
    <div>
      <div class='employee-details'>
        <ul>
          <li><label><%= I18n.t("reviewers.index2.bericht") %>:</label>#= body #</li>
        </ul>
      </div>
    </div>
  </div>

</script>

<script>
    $(document).ready(function() {
        <%= I18n.t("reviewers.index2.var_element") %>= $("#grid").kendoGrid({
            <%= I18n.t("reviewers.index2.datasource") %>: {
                <%= I18n.t("reviewers.index2.type") %>: "json",
                <%= I18n.t("reviewers.index2.transport") %>: {
                    <%= I18n.t("reviewers.index2.read") %>: "/reviewers.json"
                },
                <%= I18n.t("reviewers.index2.pagesize") %>: 10,
                <%= I18n.t("reviewers.index2.serverpaging") %>: false,
                <%= I18n.t("reviewers.index2.serversorting") %>: false
            },
            <%= I18n.t("reviewers.index2.height") %>: 650,
            <%= I18n.t("reviewers.index2.sortable") %>: true,
            <%= I18n.t("reviewers.index2.pageable") %>: true,
            <%= I18n.t("reviewers.index2.detailtemplate") %>: kendo.template($("#template").html()),
            <%= I18n.t("reviewers.index2.detailinit") %>: detailInit,
            <%= I18n.t("reviewers.index2.databound") %>: function() {
                <%= I18n.t("reviewers.index2.this") %>.expandRow(this.tbody.find("tr.k-master-row").first());
            },
            <%= I18n.t("reviewers.index2.columns") %>: [
                {
                    <%= I18n.t("reviewers.index2.field") %>: "name",
                    <%= I18n.t("reviewers.index2.title") %>: "Name",
                    <%= I18n.t("reviewers.index2.width") %>: 60

                }

            ]
        });
    });

    <%= I18n.t("reviewers.index2.function_detailinit") %>(e) {
        <%= I18n.t("reviewers.index2.var_detailrow") %>= e.detailRow;

        <%= I18n.t("reviewers.index2.detailrow") %>.find(".tabstrip").kendoTabStrip({
            <%= I18n.t("reviewers.index2.animation") %>: {
                <%= I18n.t("reviewers.index2.open") %>: { effects: "fadeIn" }
            }
        });



</script>

<script>
    $(document).ready(function() {
        <%= I18n.t("reviewers.index2.var_element") %>= $("#grid").kendoGrid({
            <%= I18n.t("reviewers.index2.datasource") %>: {
                <%= I18n.t("reviewers.index2.type") %>: "json",
                <%= I18n.t("reviewers.index2.transport") %>: {
                    <%= I18n.t("reviewers.index2.read") %>: "/reviews.json"
                },
                <%= I18n.t("reviewers.index2.pagesize") %>: 10,
                <%= I18n.t("reviewers.index2.serverpaging") %>: true,
                <%= I18n.t("reviewers.index2.serversorting") %>: false
            },
            <%= I18n.t("reviewers.index2.height") %>: 650,
            <%= I18n.t("reviewers.index2.sortable") %>: true,
            <%= I18n.t("reviewers.index2.pageable") %>: true,
            <%= I18n.t("reviewers.index2.detailtemplate") %>: kendo.template($("#template").html()),
            <%= I18n.t("reviewers.index2.detailinit") %>: detailInit,
            <%= I18n.t("reviewers.index2.databound") %>: function() {
                <%= I18n.t("reviewers.index2.this") %>.expandRow(this.tbody.find("tr.k-master-row").first());
            },
            <%= I18n.t("reviewers.index2.columns") %>: [
                {
                    <%= I18n.t("reviewers.index2.field") %>: "review_date",
                    <%= I18n.t("reviewers.index2.title") %>: "Vom",
                    <%= I18n.t("reviewers.index2.width") %>: 60

                },
                {
                    <%= I18n.t("reviewers.index2.title") %>:"Nutzer",
                    <%= I18n.t("reviewers.index2.field") %>: "reviewer.name"
                },
                {
                    <%= I18n.t("reviewers.index2.title") %>:"Titel",
                    <%= I18n.t("reviewers.index2.field") %>: "title"
                },
                {
                    <%= I18n.t("reviewers.index2.field") %>: "rating",
                    <%= I18n.t("reviewers.index2.title") %>: "*",
                    <%= I18n.t("reviewers.index2.width") %>: 30

                }
            ]
        });
    });

    <%= I18n.t("reviewers.index2.function_detailinit") %>(e) {
        <%= I18n.t("reviewers.index2.var_detailrow") %>= e.detailRow;

        <%= I18n.t("reviewers.index2.detailrow") %>.find(".tabstrip").kendoTabStrip({
            <%= I18n.t("reviewers.index2.animation") %>: {
                <%= I18n.t("reviewers.index2.open") %>: { effects: "fadeIn" }
            }
        });

        <%= I18n.t("reviewers.index2.detailrow") %>.find(".reviews").kendoGrid({
            <%= I18n.t("reviewers.index2.datasource") %>: {
                <%= I18n.t("reviewers.index2.type") %>: "json",
                <%= I18n.t("reviewers.index2.transport") %>: {
                    <%= I18n.t("reviewers.index2.read") %>: "/reviews.json"
                },
                <%= I18n.t("reviewers.index2.serverpaging") %>: false,
                <%= I18n.t("reviewers.index2.serversorting") %>: true,
                <%= I18n.t("reviewers.index2.serverfiltering") %>: true,
                <%= I18n.t("reviewers.index2.pagesize") %>:10,
                <%= I18n.t("reviewers.index2.filter") %>: { field: "reviewer_id", operator: "eq", value: e.data.reviewer_id }
            },
            <%= I18n.t("reviewers.index2.scrollable") %>: false,
            <%= I18n.t("reviewers.index2.sortable") %>: true,
            <%= I18n.t("reviewers.index2.pageable") %>: true,
            <%= I18n.t("reviewers.index2.columns") %>: [
                { field: "name", width: 70 }

            ]
        });
    }
</script>
<style scoped="scoped">
    .employee-details ul
    {
        <%= I18n.t("reviewers.index2.list") %>-style:none;
        <%= I18n.t("reviewers.index2.font") %>-style:italic;
        <%= I18n.t("reviewers.index2.margin") %>-bottom: 20px;
    }

    .employee-details label
    {
        <%= I18n.t("reviewers.index2.display") %>:inline-block;
        <%= I18n.t("reviewers.index2.width") %>:90px;
        <%= I18n.t("reviewers.index2.font") %>-style:normal;
        <%= I18n.t("reviewers.index2.font") %>-weight:bold;
    }
</style>
</div>


</body>
</html>
