<h1><%= I18n.t("rankings.index.listing_rankings") %></h1>

<table>
  <tr>
    <th><%= I18n.t("rankings.index.rank") %></th>
    <th><%= I18n.t("rankings.index.content_provider") %></th>
    <th><%= I18n.t("rankings.index.keyword") %></th>
    <th><%= I18n.t("rankings.index.url") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% unless @rankings.nil? %>
      <% @rankings.each do |ranking| %>
          <tr>
            <td><%= ranking.rank %></td>
            <td><%= ranking.content_provider.name %></td>
            <td><%= ranking.name %></td>
            <td><%= ranking.keyword.name %></td>
            <td><%= ranking.url %></td>
            <td><%= link_to I18n.t("rankings.index.show"), ranking %></td>
            <td><%= link_to I18n.t("rankings.index.edit"), edit_ranking_path(ranking) %></td>
            <td><%= link_to I18n.t("rankings.index.entfernen"), ranking, confirm: 'Sind Sie sicher das Sie den Suchbegriff entfernen moechten? ', method: :delete %></td>
          </tr>
      <% end %>
  <% end %>

</table>

<br/>
