<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t("bunny_host") %>:</b>
  <%= @system_setting.bunny_host %>
</p>

<p>
  <b><%= I18n.t("bunny_user") %>:</b>
  <%= @system_setting.bunny_user %>
</p>

<p>
  <b><%= I18n.t("bunny_password") %>:</b>
  <%= @system_setting.bunny_password %>
</p>

<p>
  <b><%= I18n.t("twitter_consumer_key") %>:</b>
  <%= @system_setting.twitter_consumer_key %>
</p>

<p>
  <b><%= I18n.t("twitter_consumer_secret") %>:</b>
  <%= @system_setting.twitter_consumer_secret %>
</p>

<p>
  <b><%= I18n.t("twitter_oauth_token") %>:</b>
  <%= @system_setting.twitter_oauth_token %>
</p>

<p>
  <b><%= I18n.t("twitter_oauth_token_secret") %>:</b>
  <%= @system_setting.twitter_oauth_token_secret %>
</p>

<p>
  <b><%= I18n.t("facebook_api_key") %>:</b>
  <%= @system_setting.facebook_api_key %>
</p>

<p>
  <b><%= I18n.t("facebook_api_secret") %>:</b>
  <%= @system_setting.facebook_api_secret %>
</p>

<p>
  <b><%= I18n.t("foursquare_client_id") %>:</b>
  <%= @system_setting.foursquare_client_id %>
</p>

<p>
  <b><%= I18n.t("foursquare_api_secret") %>:</b>
  <%= @system_setting.foursquare_client_secret %>
</p>

<p>
  <b><%= I18n.t("bing_api_key") %>:</b>
  <%= @system_setting.bing_api_key %>
</p>

<p>
  <b><%= I18n.t("google_api_key") %>:</b>
  <%= @system_setting.google_api_key %>
</p>
<p>
  <b><%= I18n.t("bigproxy") %>:</b>
  <%= @system_setting.best_proxy_password %>
</p>


<%= link_to I18n.t("edit_form"), edit_system_setting_path(@system_setting) %> 
