<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t("recommendations.show.name") %>:</b>
  <%= @recommendation.name %>
</p>

<p>
  <b><%= I18n.t("recommendations.show.description") %>:</b>
  <%= @recommendation.description %>
</p>


<%= link_to I18n.t("recommendations.show.back"), recommendations_path %>
