<div class="header"></div><h2>Social Media Monitoring war noch nie so einfach, übersichtlich und preiswert. <span class="green"> <%= I18n.t("start.index.derzeit_in_privatem_beta_test_demnächst_deutschlandweit_verfügbar") %>.</span> </h2><br />
	      <a class="btn-success btn-primary btn-large success" href="/contacts/new"><%= I18n.t("start.index.agentur_anfragen") %></a>  </div>

<div class="row">
	<div class="span4">
		<img src="/assets/PastedGraphic-2.png" width="300" height="190" alt="PastedGraphic 2">
		</div>
		<div class="span4">
			<img src="/assets/PastedGraphic-5.png" width="300" height="188" alt="PastedGraphic 5">
			</div>
			<div class="span4">
				<img src="/assets/social.png" width="300" height="188" alt="PastedGraphic 4">
				</div>
				</div>
<div class="row">

    <div class="span4">
      <h2><%= I18n.t("start.index.ihre_vorteile_als_unternehmer") %></h2>

       <p><%= I18n.t("start.index.apphera_ist_der_erste_deutsche_anbieter_für_social_media_monitoring_und_online_reputation_management_für_lokale_unternehmen_wie_restaurants_hotels_freizeitunternehmen_und_ladengeschäfte") %>.</p>
<h4>
<ul>
<li>
	<%= I18n.t("start.index.wer_spricht_über_sie_und_was_wird_gesagt") %>?
	</li>
	<li>
	<%= I18n.t("start.index.werden_sie_auf_suchmaschinen_problemlos_gefunden") %>?
	</li>
	<li>
	<%= I18n.t("start.index.erhalten_sie_automatische_benachrichtigungen_bei_wichtigen_ereignissen") %>!
	</li>
	<li>
	<%= I18n.t("start.index.sie_erhalten_einfachste_und_zeitnahe_informationen_und_beobachtungen_über_ihre_mitbewerber") %>!
	</li>
	<li>
	<%= I18n.t("start.index.wir_senden_ihnen_automatisch_individuelle_klare_und_einfach_zu_befolgende_tipps_wie_sie_online_mehr_kunden_gewinnen_können") %>!
</li>
	
</ul>
</h4>	
      <!-- <p><a class="btn" href="#"><%= I18n.t("start.index.view_details_&raquo") %></a></p> -->
    </div>
    <div class="span4">
      <h2><%= I18n.t("start.index.social_netzwetter_ein_kleiner_vorgeschmack") %></h2>
<a href="/home/network"><%= I18n.t("start.index.hier_geht_es_zum_netzwetter") %></a>
       <p><%= I18n.t("start.index.appheras_netzwerk_befindet_sich_gerade_im_testbetrieb_wir_dachten_es_wäre_eine_gute_idee_unsere_ergebnisse_mit_ihnen_zu_teilen_so_ist_unser_netzwetter_entstanden_hier_analysieren_wir_millionen_von_user-beiträgen_im_deutschsprachigen_internet_um_stimmungsbilder_zu_erhalten_diese_und_andere_leistungen_werden_ihnen_und_ihrem_unternehmen_in_naher_zukunft_zur_verfügung_stehen_als_mitglied_erhalten_sie_einen_echtzeit-überblick_was_wird_zum_beispiel_in_diesem_moment_direkt_über_ihr_unternehmen_gesprochen_werden_reviews_hinterlassen_wie_hoch_ist_der_grad_des_einflusses_des_reviewers_diese_und_noch_mehr_wichtige_informationen_werden_ihnen_in_einfach_zu_lesenden_grafiken_und_übersichten_gezeigt_-_bei_uns_ist_kein_marketing_studium_notwendig") %>! </p>
      <!-- <p><a class="btn" href="#"><%= I18n.t("start.index.view_details_&raquo") %></a></p> -->
   </div>
    <div class="span4">
      <h2><%= I18n.t("start.index.agenturen_und_reseller") %></h2><br />
<div class="well">
<h4>
      <p><%= I18n.t("start.index.haben_sie_interesse_daran_bereits_zum_start_als_partner_wiederverkäufer_mit_dabei_zu_sein_dann_kontaktieren_sie_uns_bitte_wir_bieten_co-branding-_und_wiederverkäufer-möglichkeiten") %>.</p></h4>
<br />
      <p><a class="btn-success btn-primary btn-large success" href="/contacts/new"><%= I18n.t("start.index.agentur_anfragen") %></a></p>
</div>
        </div>
    <!--</div>-->
