<div class="hero-unit">
  <h3><%= I18n.t("analysis_headline") %></h3>
<!-- start tabs -->


  <% unless @h.nil? %>
      <%= high_chart("my_id", @h) %>
  <% end %>
  <a href="#" rel="popover" title="Überblick" data-content="<%= I18n.t("competitor_analysis_explaination") %>
<% unless @aggregate_result.nil? %>	
<%= @aggregate_result.review_avg %>
	"><%= I18.t("explanation_of_graphic") %>
  </a>
  <% end %>
  <h3><%= I18n.t("average_competitor_reviews") %> :<%= @avg_rating.to_s %></h3>
  <% unless @aggregate_result.nil? %>
  <h3><%= I18n.t("your_review_average") %> :<%= @aggregate_result.review_avg %></h3>
	<% end %>
  <table class="table">

    <tr>
      <th><%= I18n.t("location")%></th>
      <th><%= I18n.t("reviews")%></th>
      <th><%= I18n.t("review_average")%></th>
      <!-- <th>Tweets</th>
           <th>Tweets neu</th>
     	  <th>Followers<a href="#" rel="popover" title="Twitter Tip" data-content="Lorem ipsum"><i class="icon-list icon-question-sign"></i></a>	</th>
     	  <th>Listed<a href="#" rel="popover" title="Twitter Tip" data-content="Lorem ipsum erm&ouml;glicht seinen Nutzern eine Lokation zu Empfehlen. Diese Empfehlungen nennen sich 'Foursquare Tip'"><i class="icon-list icon-question-sign"></i></a>	</th>
           <th>Fb gefällt mir<a href="#" rel="popover" title="Facebook Tip" data-content="Lorem ipsum erm&ouml;glicht seinen Nutzern eine Lokation zu Empfehlen. Diese Empfehlungen nennen sich 'Foursquare Tip'"><i class="icon-list icon-question-sign"></i></a>	</th>
           <th>Fb gefällt mir neu<a href="#" rel="popover" title="Facebook Tip" data-content="Lorem ipsum erm&ouml;glicht seinen Nutzern eine Lokation zu Empfehlen. Diese Empfehlungen nennen sich 'Foursquare Tip'"><i class="icon-list icon-question-sign"></i></a>	</th> -->
	  <th>Foursquare Users</th>
	<th>Foursquare Checkins</th>
	<th>Foursquare Tip<a href="#" rel="popover" title="Foursquare Tip" data-content="<%= I18n.t("foursquare_tip_text") %>"><i class="icon-list icon-question-sign"></i></a>	</th>
      <!--&lt;!&ndash; <th>Mentions</th>-->
 <!--  <th>Mentions neu</th>
   <th>Blog Beiträge</th>
   <th>Blog Beiträge neu</th> -->

    </tr>


    <tr>
      <% unless @aggregate_result.nil? %>
          <td><%= @aggregate_result.organization.name %></td>
          <td><%= @aggregate_result.reviews %></td>
          <td><%= @aggregate_result.review_avg %></td>
		  <td><%= @aggregate_result.fs_users_count%>
			  <td><%= @aggregate_result.fs_checkins_count%>
				  <td><%= @aggregate_result.fs_tip_count%>
			

     
      <% end %>

    </tr>

  </table>

  <br/>
  </div>
<h3>Mitbewerber Ergebnisse</h3>

<table class="table table-striped table-bordered">
  <tr>
    <th>Lokation</th>

    <th>Reviews</th>
    <th>Review Durchschnitt</th>

  </tr>
  <% unless @aggregate_results2.nil? %>
      <% @aggregate_results2.each do |aggregate_result2| %>
          <tr>
            <td> <a href="/reviews/<%= aggregate_result2.organization.id %>"><%= aggregate_result2.organization.name %></a></td>
            <td><%= aggregate_result2.reviews %></td>
            <td><%= aggregate_result2.review_avg %></td>
			


      <% end %>
      </tr>
  <% end %>
</table>
</div>


<br/>
<script type="text/javascript">
    $("a[rel=popover]")
            .popover()
            .click(function (e) {
                e.preventDefault()
            })
</script>
