<h3><%= I18n.t("contacts.new.kontaktieren_sie_uns") %></h3>

<div class="row">
	<div class="span 6">
<%= render 'form' %>
</div>
<div class="span 6">
	<div class="well">
<h5>F&uuml;r telefonische Anfragen wenden Sie sich bitte an: <br />
	<%= I18n.t("contacts.new.apphera_deutschland") %><br />
<%= I18n.t("contacts.new.herr_thorsten_weber") %>
<%= I18n.t("contacts.new.tel") %>.: 040 320 277 42
</h5>
<br />
</div>
<div class="well">
	<h5>
<%= I18n.t("contacts.new.datacenter") %><br />
<%= I18n.t("contacts.new.usa") %>- Toll Free +1.888.859.3358
</h5>
</div>
</div>
</div>
