<h3><%= I18n.t("history_items.index.historie") %></h3>

<table class = "table table-striped">
  <tr>
    <th><%= I18n.t("history_items.index.user") %></th>
    <th><%= I18n.t("history_items.index.beschreibung") %></th>
    <th><%= I18n.t("history_items.index.firma") %></th>
    <th><%= I18n.t("history_items.index.datum") %></th>
    <th></th>
  </tr>

  <% @history_items.each do |history_item| %>
      <tr>
        <td><%= history_item.user.name %></td>
        <td><%= history_item.description %></td>
		<td><%= history_item.organization.name %></td>
		<td><%= history_item.created_at %></td>
		
        
      </tr>
  <% end %>
</table>

<br/>
<%= paginate @history_items%>
