<h3><%= I18n.t("misc.index.bisher_gefundene_links") %></h3>

<style>
 <%= I18n.t("misc.index.table") %>{ table-layout: fixed; }
 <%= I18n.t("misc.index.table_th_table_td") %>{ overflow: hidden; }
</style>
<table class="table table-striped">
  <tr>
    <th><%= I18n.t("misc.index.titel") %></th>
    <th><%= I18n.t("misc.index.link") %></th>
    <th><%= I18n.t("misc.index.beschreibung") %></th>
  </tr>
  <% @links.each do |link| %>
      <tr>

        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <td><%= link.description %></td>
        
      </tr>
  <% end %>
</table>
<br/>
