<h3><%= I18n.t("your_competitors_headline") %></h3>



<div class="hero-unit">
  <!--<ul id="myTab" class="nav nav-tabs">-->
    <!--<li><a href="#home" data-toggle="tab">Mitbewerber</a></li>-->
    <!--<li class="active"><a href="#profile" data-toggle="tab">Karte</a></li>-->
  <!--</ul>-->
  <!--<div id="myTabContent" class="tab-content">-->
    <!--<div class="tab-pane fade in" id="home">-->
  <table class="table table-striped table-bordered">

     <!-- <div id="example" class="k-content">
    	    <div id="grid"></div> -->
  <a href="/my_competitors/new"><%= I18n.t("add_competitor") %>.</a>
  <tr>
    <th><%= I18n.t("name") %></th>
    <th><%= I18n.t("street") %></th>
    <th><%= I18n.t("postalcode") %></th>
    <th><%= I18n.t("city") %></th>
    <th><%= I18n.t("phone") %></th>
    <th><%= I18n.t("distance") %></th>
    <th><%= I18n.t("remove") %></th>
  </tr>
  <% begin %>
      <% @organizations.each do |organization| %>
          <tr>
            <td><a href="/reviews/<%= organization.id %>"><%= organization.name %></a>
	<% if organization.reviews.count > 0%>
	<a href="#" rel="popover" title="<%= organization.name %>" data-content="Anzahl Bewertungen: <%=organization.reviews.count || '0' %><p> Bewertungsdurchschnitt: <%= organization.aggregate_results.last.review_avg rescue nil%>"><i class="icon-zoom-in"></i></a>
		<% end %>
		</td>
            <td><%= organization.street %></td>
            <td><%= organization.postalcode %></td>
            <td><%= organization.city %></td>
            <td><%= organization.phone1 %></td>
            <td><%= organization.distance_to(@org).round(2) rescue nil %> Km</td>
            <td><%= link_to I18n.t("remove"), organization, confirm: I18n.t("are_you_sure"), method: :delete, :class => 'btn btn-small' %></td>
          </tr>
      <% end %>
  <% rescue %>
  <% end %>
</table>
<% unless @organizations.nil? %>
    <%= paginate @organizations %>
<% end %>

<br/>


  <script type="text/javascript">
    $("a[rel=popover]")
            .popover()
            .click(function (e) {
                e.preventDefault()
            });

</script>
