<div class = "hero-unit">

<%= I18n.t("info.about.management_team") %>:<br />
<%= I18n.t("info.about.1") %>. <br />
<%= I18n.t("info.about.2") %>. <br />
<%= I18n.t("info.about.3") %>. <br />




<%= I18n.t("info.about.advisory_board") %>:<br />
<%= I18n.t("info.about.1") %>. <br />
<%= I18n.t("info.about.2") %>. <br />
<%= I18n.t("info.about.3") %>. <br />
<%= I18n.t("info.about.4") %>.<br />
</div>
