<address>Apphera is a service of Manek Media, LLC. <br />
<%= I18n.t("info.imprint.1") %>.888.859.3358
<br />
<%= I18n.t("info.imprint.3654_lake_circle_fallbrook_ca92028usa") %>
<br />
</address>

<h5><%= I18n.t("info.imprint.verantwortlich_für_den_deutschen_inhalt_dieser_seiten") %>:</h5>
<br />
<address>
<%= I18n.t("info.imprint.herr_thorsten_weber") %><br />
<%= I18n.t("info.imprint.chief_operating_officer_emea") %><br/>
<%= I18n.t("info.imprint.berliner_xyz") %><br />
<%= I18n.t("info.imprint.21029_berlin") %><br />
<%= I18n.t("info.imprint.apphera_deutschland") %><br />
<%= I18n.t("info.imprint.tel") %>.: 040 320 277 42 <br />
</address>
