<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t("my_account") %>:</b>
  <%= @account.name %>
</p>

<p>
  <b><%= I18n.t("firstname") %>:</b>
  <%= @account.firstname %>
</p>

<p>
  <b><%= I18n.t("lastname") %>:</b>
  <%= @account.lastname %>
</p>

<p>
  <b><%= I18n.t("phone") %>:</b>
  <%= @account.phone %>
</p>


<%= link_to I18n.t("edit"), edit_account_path(@account) %> |
<%= link_to I18n.t("form_back"), accounts_path %>
